.DS_Store
.svn
*.a
*.d
*.la
*.so
*.dylib
*.lib
*.dll
*.def
*.o
*.obj
*.layout
*.depend
*.workspace
*.exe

# library
irrKlang-1.0.4

# library's binary dll on win32
irrlicht/bin

# library and binary files on Linux
bin
lib
*.so.*

# build files on mac
source/Irrlicht/MacOSX/build/
